
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    max-width:500px;
    margin: auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #05060f0a;
    
}


.input {
    width: 100%; 
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s, background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

textarea.input {
    width: 100%;
    height: auto;
    min-height: 100px; 
}


.label {
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}


.input:hover, .input:focus {
    outline: none;
    border-color: #05060f;
}

.input-group:hover .label, .input:focus {
    color: #05060fc2;
}


button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%; 
    border-radius: .5rem;
    margin-top:20px;
}

button:hover {
    background-color: #218838;
}

.hidden {
    display: none;
}

#successMessage {
    margin-top: 15px;
    color: green;
}
